\subsection{Результаты работы программы}

\subsubsection{Подготовка дифференциальных уравнений}

Рассмотрим пять обыкновенных дифференциальных уравнений первого порядка вида \(y' = f(x, y)\) с разными аналитическими особенностями для проверки метода Эйлера:

\begin{enumerate}
    \item \textit{Функция, которая зависит лишь от независимой переменной:}
    \[
    f_1(x, y) = \sin x.
    \]
    Аналитическое решение:
    \[
      y(x) = y_a + \cos a - \cos x
    \]
    
    Задача фактически сводится к нахождению первообразной --- используем для проверки корректности шага.

    \item \textit{Линейное разделяющееся уравнение:}
    \[
    f_2(x, y) = \frac{x \cdot y}{2}.
    \]
    Аналитическое решение:
    \[
      y(x) = y_a \cdot \exp\left(\frac{x^2 - a^2}{4}\right)
    \]
    
    Траектория растёт экспоненциально при \(x > 0\), что позволяет оценить накопление погрешности метода.

    \item \textit{Нелинейное уравнение:}
    \[
    f_3(x, y) = y - \frac{2x}{y}.
    \]
    Аналитическое решение:
    \[
      y(x) = \sqrt{2x + 1 + C e^{2x}}
    \]

    где константа $C$ определяется через начальные условия:
    \[
      C = (y_a^2 - 2a - 1) e^{-2a}
    \]
    
    Если в процессе интегрирования численное решение приближается к нулю или выражение под корнем в аналитическом решении становится отрицательным, траектория разрушается \textit{(деление на ноль или выход за область определения)}.

    \item \textit{Линейное неоднородное уравнение:}
    \[
    f_4(x, y) = x + y.
    \]
    Аналитическое решение:
    \[
      y(x) = (y_a + a + 1)e^{x - a} - x - 1
    \]
    
    Решение содержит как линейную, так и экспоненциальную части.

    \item \textit{Нелинейное уравнение со слабой устойчивостью:}
    \[
    f_5(x, y) = y^2.
    \]
    Аналитическое решение:
    \[
      y(x) = \frac{1}{(1/y_a) - (x - a)}
    \]
    
    При некоторых начальных условиях знаменатель может обратиться в ноль, и решение уходит в бесконечность.
\end{enumerate}

\subsubsection{Графики полученных решений}

В лабораторной работе №1 мне был выдан вариант с \textit{интерполяционным многочленом в форме Лагранжа}, который использует интерполяционные узлы от \textit{многочлена Чебышёва}. Поэтому графики далее будут использовать указанный метод для отображения аналитического и численного решений дифференциального уравнения.

{{ odu_plots }}