.lab-query-history {
  margin: 20px auto;

  & > table {
    /* display: block; */
    border-collapse: collapse;
  }

  td {
    padding: 0 10px;
  }

  .centered-cell {
    text-align: center;
  }

  .header-row {
    background-color: lightgray;
    border-bottom: 1px solid black;
  }

  .lab-query-history-body {
    /* display: block; */
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    tr:nth-child(even) {
      background-color: gainsboro;
    }
  }
}