\section{Задание}

В рамках выполнения лабораторной работы \textit{по варианту №{{ variant_number }}} необходимо выполнить следующие задачи:

\begin{enumerate}
  \item Решите задачу коммивояжёра для пяти городов с заданной матрицей стоимостей переезда с помощью генетического алгоритма.
  \begin{itemize}
    \item реализуйте алгоритм на языке Python;
    \item используйте следующие параметры: размер популяции $N = 4$, оператор мутации --- перестановка двух чисел в геноме \textit{(выбираются случайно)}, вероятность мутации $p_m = 0.01$;
    \item целевая функция --- сумма стоимости рёбер в маршруте;
    \item постройте кривую сходимости \textit{(лучший найденный путь от поколения к поколению)};
    \item сравните полученное решение с ответом \textit{(полный перебор)}.
  \end{itemize}

  \item Найдите кратчайший путь от вершины $A$ до вершины $G$ с использованием алгоритма муравьиной колонии.
  \begin{itemize}
    \item реализуйте алгоритм на языке Python;
    \item целевая функция --- сумма весов рёбер в маршруте;
    \item постройте кривую сходимости \textit{(лучший найденный путь от итерации к итерации)};
    \item сравните полученное решение с ответом \textit{(полный перебор)}.
  \end{itemize}
\end{enumerate}