\section{Задание}

В рамках выполнения лабораторной работы \textit{по варианту №{{ variant_number }}} необходимо выполнить следующие задачи:
\begin{enumerate}
  \item Выполните аппроксимацию функции двух переменных, заданную таблично, с помощью эллиптического параболоида и двумерной гауссианы.
  \begin{itemize}
    \item используйте \textit{среднеквадратичную ошибку (MSE)} в качестве функции потерь;
    \item постройте кривую обучения \textit{(функцию потерь, которая зависит от номера итерации)};
    \item вычислите невязки на каждом объекте для модельной функции;
    \item отрисуйте модельную поверхность и её линии уровня вместе с точками данных по варианту;
    \item запишите аналитический вид полученной модели.
  \end{itemize}
  \item Найдите лучшую аппроксимацию функции константной моделью:
  \begin{itemize}
    \item в смысле минимизации среднеквадратичной ошибки \textit{(MSE)};
    \item в смысле минимизации средней абсолютной ошибки \textit{(MAE)}.
  \end{itemize}
  \item Выполните следующие вычисления \textit{вручную} для аппроксимации функции RBF-сетью:
  \begin{itemize}
    \item поиск центров;
    \item задание начального приближения для градиентного спуска;
    \item расчёт частных производных на первой итерации:
    \[
      \dfrac{\partial L}{\partial c_2}\quad
      \dfrac{\partial L}{\partial \sigma_2}\quad
      \dfrac{\partial L}{\partial \omega_0}\quad
      \dfrac{\partial L}{\partial \omega_1}
    \]
  \end{itemize}
  \item Выполните аппроксимацию функции RBF-сетью:
  \begin{itemize}
    \item постройте кривую обучения \textit{(среднеквадратичная ошибка в качестве функции потерь)};
    \item вычислите невязки на каждом объекте для модельной функции;
    \item отрисуйте модельную поверхность и её линии уровня вместе с точками данных по варианту;
    \item запишите аналитический вид полученной модели.
  \end{itemize}
\end{enumerate}

\begin{table}[H]
  \centering
  \begin{tblr}{
    colspec = {ccc},
    hlines,
    vlines,
  }
  $x$ & $y$ & $z$ \\
  {{ input_table_data }}
  \end{tblr}
  \caption{Данные функции, которая задана таблично.}
\end{table}