@import url("./css/main.css");
@import url("./css/header.css");
@import url("./css/lab-form.css");

#lab-body {
  margin: 0 auto;
  max-width: 600px;
  width: 600px;
  display: grid;
  grid-template-rows: auto 1fr;

  font-family: sans-serif;
  font-size: 16px;
  color: var(--font-color);
}