@import url("#{resource['css:main.css']}");
@import url("#{resource['css:header.css']}");
@import url("#{resource['css:lab-form.css']}");
@import url("#{resource['css:history.css']}");
@import url("#{resource['css:plot.css']}");
@import url("#{resource['css:groups.css']}");

#lab-body {
  margin: 0 auto;
  max-width: 600px;
  width: 600px;
  display: grid;
  grid-template-rows: auto auto 1fr;

  font-family: sans-serif;
  font-size: 16px;
  color: var(--font-color);
}