.horizontal-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: fit-content;
}

.form-wrap {
  margin: 0 auto;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .vertical-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */