.lab-form {
  margin: auto;
  margin-top: 50px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  
  .lab-form-field {
    display: flex;
    gap: 10px;
  }

  .lab-form-error {
    color: var(--font-error);
    font-size: 12px;
  }
}

.lab-form-error:empty {
  display: none;
}

.underline-param-label {
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
}

.wide-input {
  flex: 1;
}

input::placeholder {
  font-style: italic;
}