\subsection{Задача поиска кратчайшего пути}

\subsubsection{Описание}

Дан взвешенный граф из семи вершин и матрица весов рёбер между ними. Требуется найти кратчайший путь из вершины $A$ в вершину $G$, проходящий по рёбрам графа. Значение $\infty$ означает отсутствие прямого ребра между соответствующими вершинами.

\begin{table}[H]
  \centering
  \begin{tabular}{|c|c|c|c|c|c|c|c|}
    \hline
    & \textbf{A} & \textbf{B} & \textbf{C} & \textbf{D} & \textbf{E} & \textbf{F} & \textbf{G} \\
    \hline
    {{ task_2_input_latex }}
  \end{tabular}
  \caption{Матрица весов рёбер графа.}
\end{table}

\subsubsection{Алгоритм}

\dots