\subsection{Задача поиска кратчайшего пути}

\subsubsection{Описание}

Дан взвешенный граф \( G=(V,E) \) из семи вершин и матрица весов рёбер между ними. Требуется найти кратчайший путь из вершины $A$ в вершину $G$, проходящий по рёбрам графа. Значение $\infty$ означает отсутствие прямого ребра между соответствующими вершинами.

\begin{table}[H]
  \centering
  \begin{tabular}{|c|c|c|c|c|c|c|c|}
    \hline
    & \textbf{A} & \textbf{B} & \textbf{C} & \textbf{D} & \textbf{E} & \textbf{F} & \textbf{G} \\
    \hline
    {{ task_2_input_latex }}
  \end{tabular}
  \caption{Матрица весов рёбер графа.}
\end{table}

\subsubsection{Алгоритм}

Описанный далее алгоритм вдохновлён статьей из внешнего источника\cite{shtovba2003muravinye} и эвристиками алгоритма UFSACO, который был описан в лекции текущего курса.

Определим \textbf{муравья} как автономного агента, который имитирует поведение биологического прототипа для поиска оптимальных путей в графе. Каждый агент обладает следующим набором характеристик:
\begin{itemize}
  \item \textit{память} --- динамический список посещённых вершин;
  \item \textit{состояние} --- текущая вершина;
  \item \textit{правило перехода} --- алгоритм выбора следующей вершины;
  \item \textit{механизм адаптации} --- способность изменять среду через «виртуальный след» \textit{(феромон)}, интенсивность которого прямо пропорциональна значению целевой функции.
\end{itemize}

Для решения задачи поиска кратчайшего пути от вершины A до вершины G создадим мультиагентную систему. Пусть численность колонии муравьёв \textit{(количество агентов)} $ n = {{ colony_size }} $.

Выбор следующей вершины будет происходить по разными стратегиям. Для этого вводится некоторая константа \( q_0={{ q0_ant }}\in[0,1] \) и случайная величина \( q\sim v[0,1] \).

\textbf{Статегия исследования} (\( q>q_0 \)) основана на \textit{методе рулетки}. Для этого введём вероятность перехода муравья \( k \) из текущей вершины $i$ в вершину $j$:
\[
p^k_{ij} = \frac{[\tau_{ij}]^\alpha \cdot [\eta_{ij}]^\beta}{\sum_{l \in J^k_i} [\tau_{il}]^\alpha \cdot [\eta_{il}]^\beta},\quad j\in J_i^k
\]

где:
\begin{itemize}
    \item $\tau_{ij}$ --- количество феромона на ребре $(i, j)\in E$;
    \item $\eta_{ij} = 1/w_{ij}$ --- видимость;
    \item $\alpha = {{ alpha_ant }}, \beta = {{ beta_ant }}$ --- параметры, которые определяют значимость феромона и веса ребра;
    \item $J^k_i$ --- набор вершин, которые муравей \( k \) ещё не посещал из вершины \( i \).
\end{itemize}

\textbf{Стратегия подкрепления} (\( q\leq q_0 \)) основана на жадном алгоритме:
\[
  j = \operatorname{argmax}_{u \in J^k_i} \left([\tau_{iu}]^{\alpha} \cdot [\eta_{iu}]^\beta\right)
\]

После достижения конечной вершины \( G \) муравей \( k \) сформировал маршрут \( \vec{h}^{(t)}_k \). На обратном пути он обновляет свой виртуальный след для ребра \( (i,j) \) по формуле:
\[
  \Delta\tau_{ij,k}^{(t)}=\dfrac{Q}{f\left(\vec{h}^{(t)}_k\right)},
\]
где \( Q = {{ q_ant }} \) --- регулируемый параметр, значение которого выбирают одного порядка с длиной оптимального маршрута.

В качестве целевой функции \( f \) возьмём сумму весов рёбер в маршруте. Для простоты алгоритма мы считаем, что муравей возвращается строго в~обратном порядке по пройденному пути. 

В конце текущей итерации уровень феромона в узлах обновляется с учётом коэффициента испарения $\rho={{ rho_ant }}$:
\[
  \tau_i^{(t+1)} = (1 - \rho)\tau_i^{(t)} + \sum_{k=1}^n\Delta\tau_{ij,k}^{(t+1)}
\]

Алгоритм останавливается при достижении лимита итераций (${{ limit_ant }}$) и возвращает маршрут \( \vec{\hat{h}}^* \) некоторого муравья на произвольной итерации, который оптимален по значению целевой функции \( f \).

\subsubsection{Кривая сходимости}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=\textwidth,keepaspectratio}
    \includegraphics{pics/colony.pdf}
  \end{adjustbox}
  \caption{Кривая сходимости алгоритма за {{ limit_ant }} итераций.}
\end{figure}

\subsubsection{Результат}

Переберём все возможные строки из символов \( \{ A,B,C,D,E,F,G \} \), которые начинаются с \( A \) и заканчиваются \( G \) и их длина не более \( 7 \).

Отберём среди них те, которые имеют смысл как маршрут в исходном графе. В результате найдём маршрут \( \vec{h}^* \), который глобально оптимален по значению целевой функции \( f \):
\[
  \vec{h}^*={{ h_opt_ant }} \implies f(\vec{h}^*)={{ f_opt_ant }}
\]

Сравним ответ \( \vec{h}^* \) с результатом алгоритма муравьиной колонии \( \vec{\hat{h}}^* \):
\[
  \vec{\hat{h}}^*={{ h_res_ant }} \implies f(\vec{\hat{h}}^*)={{ f_res_ant }}
\]

Можно сделать вывод, что рассмотренный алгоритм с указанными параметрами\textbf{ {{ "справился" if ant_result else "не справился" }} }с поставленной задачей.