\subsection{Задача коммивояжёра}

\subsubsection{Описание}

Дано множество из пяти городов и матрица расстояний \( M \) между ними. Требуется объехать все города по кратчайшему пути, причём в каждом городе необходимо побывать один раз и вернуться в город, из которого был начат маршрут.

\begin{table}[H]
  \centering
  \begin{tabular}{|c|c|c|c|c|c|}
    \hline
    & \textbf{Город 1} & \textbf{Город 2} & \textbf{Город 3} & \textbf{Город 4} & \textbf{Город 5} \\
    \hline
    {{ task_1_input_latex }}
  \end{tabular}
  \caption{Матрица стоимостей переезда между городами.}
\end{table}

\subsubsection{Входные данные}

Определим популяцию \( H\subset\{1,2,3,4,5\}^5 \), её размер \( |H|=4 \) по условию.

Целевая функция имеет вид:
\[
  f(\vec{h})=\sum_{i=1}^5 M_{h_i,h_{i\,\textrm{mod}\, 6}}
\]

В качестве оператора скрещивания выберем \textit{двухточечный кроссовер}:
\begin{enumerate}
  \item Выбираем две точки разрыва \( i,j\sim U\{1,6\} \).
  \item Обмениваемся элементами между точками \( i \), \( j \).
  \item Оставляем остальные элементы без изменения.
\end{enumerate}

В качестве оператора мутации выберем перестановку двух элементов \( x_i,x_j \) с индексами \( i,j\sim U\{1,5\} \). Вероятность мутации \( p_m=0.01 \).

Отбор хромосом будет происходить при помощи \textit{метода рулетки}. Для этого введём вероятность выбора \( h_k \):
\[
  p_k=\dfrac{C-f(\vec{h}_k)}{\sum_{i=1}^5 (C-f(\vec{h}_i))},\quad C\gg f(\vec{h})
\]

Допустим, что константа \( C = {{ c_constant }} \) в рамках задачи.

Исходная популяция такова:

\begin{table}[H]
\centering
\renewcommand{\arraystretch}{1.5}
\begin{tabular}{|c|c|c|}
\hline
$i$ & $\vec{h}_i$ & $f(\vec{h}_i)$ \\ \hline
1   & $(x_{11}, x_{12}, x_{13}, x_{14}, x_{15})$ & $f(\vec{h}_1)$ \\ \hline
2   & $(x_{21}, x_{22}, x_{23}, x_{24}, x_{25})$ & $f(\vec{h}_2)$ \\ \hline
3   & $(x_{31}, x_{32}, x_{33}, x_{34}, x_{35})$ & $f(\vec{h}_3)$ \\ \hline
4   & $(x_{41}, x_{42}, x_{43}, x_{44}, x_{45})$ & $f(\vec{h}_4)$ \\ \hline
\end{tabular}
\caption{Исходная популяция $H^{(0)}$.}
\end{table}

\input{sections/algorithms/Genetic_iteration.compiled}

\subsubsection{Кривая сходимости}

\dots

\subsubsection{Результат}

\dots