\subsection{Задача коммивояжёра}

\subsubsection{Описание}

Дано множество из пяти городов и матрица расстояний \( M \) между ними. Требуется объехать все города по кратчайшему пути, причём в каждом городе необходимо побывать один раз и вернуться в город, из которого был начат маршрут.

\begin{table}[H]
  \centering
  \begin{tabular}{|c|c|c|c|c|c|}
    \hline
    & \textbf{Город 1} & \textbf{Город 2} & \textbf{Город 3} & \textbf{Город 4} & \textbf{Город 5} \\
    \hline
    {{ task_1_input_latex }}
  \end{tabular}
  \caption{Матрица стоимостей переезда между городами.}
\end{table}

\subsubsection{Входные данные}

Определим популяцию \( H\subset\{1,2,3,4,5\}^5 \), её размер \( |H|={{ population_size }} \) по условию.

Целевая функция имеет вид:
\[
  f(\vec{h})=\sum_{i=1}^5 M_{h_i,h_{i\,\textrm{mod}\, 6}}
\]

В качестве оператора скрещивания выберем \textit{модификацию двухточечного кроссовера}:
\begin{enumerate}
  \item Выбираем две точки разрыва \( i,j \sim U\{1, n\} \), \( i < j \).
  \item Обмениваем фрагменты между \( i \) и \( j \) у родителей.
  \item Заполняем оставшиеся позиции каждого потомка элементами из соответствующего родителя в циклическом порядке, начиная со второго элемента полученного фрагмента, пропуская уже использованные числа.
\end{enumerate}

В качестве оператора мутации выберем перестановку двух элементов \( x_i,x_j \) с индексами \( i,j\sim U\{1,5\} \). Вероятность мутации \( p_m={{ prob_mutate_gene }} \).

Отбор хромосом будет происходить при помощи \textit{метода рулетки}. Для этого введём вероятность выбора \( h_k \):
\[
  p_k=\dfrac{C-f(\vec{h}_k)}{\sum_{i=1}^5 (C-f(\vec{h}_i))},\quad C\gg f(\vec{h})
\]

Допустим, что константа \( C = {{ c_constant_gene }} \) в рамках задачи.

Исходная популяция такова:

\begin{table}[H]
\centering
\renewcommand{\arraystretch}{1.5}
\begin{tabular}{|c|c|c|}
\hline
$i$ & $\vec{h}_i$ & $f(\vec{h}_i)$ \\ \hline
{{ initial_population_gene }}
\end{tabular}
\caption{Исходная популяция $H^{(0)}$.}
\end{table}

{{ genetic_iterations }}

\subsubsection{Кривая сходимости}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=\textwidth,keepaspectratio}
    \includegraphics{pics/population.pdf}
  \end{adjustbox}
  \caption{Кривая сходимости алгоритма за {{ limit_gene }} итераций.}
\end{figure}

\subsubsection{Результат}

Переберём всё множество \( \{ 1,2,3,4,5 \}^5 \). В результате найдём маршрут \( \vec{h}^* \), который глобально оптимален по значению целевой функции \( f \):
\[
  \vec{h}^*={{ h_opt_gene }} \implies f(\vec{h}^*)={{ f_opt_gene }}
\]

Сравним ответ \( \vec{h}^* \) с результатом генетического алгоритма \( \vec{\hat{h}}^* \):
\[
  \vec{\hat{h}}^*={{ h_res_gene }} \implies f(\vec{\hat{h}}^*)={{ f_res_gene }}
\]

Можно сделать вывод, что рассмотренный алгоритм с указанными параметрами\textbf{ {{ "справился" if genetic_result else "не справился" }} }с поставленной задачей.