\subsection{Эллиптический параболоид}

\subsubsection{Алгоритм}

\textit{Эллиптический параболоид} --- это поверхность второго порядка, которая описывается функцией следующего вида:
\[
z(x, y) = \frac{\tilde{x}^2}{a^2} + \frac{\tilde{y}^2}{b^2} + z_0,\quad a,b>0
\]
где:
\[
\begin{pmatrix}
\tilde{x} \\
\tilde{y}
\end{pmatrix}
=
\begin{pmatrix}
\cos\theta & \sin\theta \\
-\sin\theta & \cos\theta
\end{pmatrix}
\cdot
\begin{pmatrix}
x - x_0 \\
y - y_0
\end{pmatrix}
\]

Параметры функции:
\begin{itemize}
  \item $a, b$ --- коэффициенты, определяющие скорость «раскрытия» параболоида вдоль повёрнутых осей;
  \item $x_0, y_0$ --- координаты вершины параболоида;
  \item $\theta$ --- угол поворота главных осей параболоида относительно осей $x$ и $y$;
  \item $z_0$ --- вертикальное смещение вершины по оси $z$.
\end{itemize}

Для упрощения анализа целесообразно перейти от геометрических параметров к общему алгебраическому виду поверхности второго порядка в неканонической системе координат. 

Раскроем выражения для $\tilde{x}$ и $\tilde{y}$ через матрицу поворота и подставим их в исходное уравнение параболоида:
\[
z(x, y) = \frac{( (x - x_0) \cos\theta + (y - y_0) \sin\theta )^2}{a^2} + \frac{( -(x - x_0) \sin\theta + (y - y_0) \cos\theta )^2}{b^2} + z_0
\]

После возведения в квадрат и группировки слагаемых при квадратичных и перекрестных членах, уравнение принимает вид, представленный на слайде:
\[
z(x,y) = A(x - x_0)^2 + B(y - y_0)^2 + C(x - x_0)(y - y_0) + z_0
\]

Где новые коэффициенты $A, B, C$ связаны с исходными параметрами следующим образом:
\begin{itemize}
    \item $A = \frac{\cos^2\theta}{a^2} + \frac{\sin^2\theta}{b^2}$
    \item $B = \frac{\sin^2\theta}{a^2} + \frac{\cos^2\theta}{b^2}$
    \item $C = \sin(2\theta) \left( \frac{1}{a^2} - \frac{1}{b^2} \right)$
\end{itemize}

Имеем задачу регрессии, которая заключается в минимизации среднеквадратичной ошибки:
\[
\begin{gathered}
  Loss = L(\{x_i,y_i,z_i\}^N_{i=1},A,B,C,z_0,x_0,y_0) = MSE = \\
  =\frac{1}{2\cdot N} \sum_{i=1}^{N} (z_i - z(x_i,y_i))^2 \to \min_{A,x_0,y_0,\sigma_x,\sigma_y,z_0,\theta}
\end{gathered}
\]

В текущей задаче можно было бы воспользоваться алгоритмами для линейной регрессии. Однако в рамках лабораторной работы рассмотрим более универальный алгоритм L-BFGS-B.

\textbf{L-BFGS-B} \textit{(Limited-memory Broyden–Fletcher–Goldfarb–Shanno with Boundaries)} --- это итерационный квазиньютоновский метод оптимизации, который предназначен для поиска локального минимума функции при наличии ограничений на значения параметров:

\begin{itemize}
    \item В отличие от классического метода Ньютона, L-BFGS-B не требует прямого вычисления гессиана. Вместо этого алгоритм аппроксимирует кривизну поверхности, анализируя изменения градиента на предыдущих итерациях.
    \item Алгоритм «ограничен по памяти». Он не хранит полную матрицу аппроксимации гессиана, а использует лишь несколько последних векторов изменений параметров и градиентов. Это делает метод пригодным для задач с большим количеством переменных.
    \item Использование формулы обновления Бройдена --- Флетчера --- Гольдфарба --- Шанно обеспечивает сверхлинейную сходимость, что эффективнее простого градиентного спуска.
    \item Поддержка ограничений позволяет задавать допустимые интервалы для каждого параметра. В данной задаче это необходимо для соблюдения физического смысла.
\end{itemize}

\subsubsection{Кривая обучения}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=\textwidth,keepaspectratio}
    \includegraphics{pics/learning_curve_elliptic.pdf}
  \end{adjustbox}
  \caption{Кривая обучения для эллиптического параболоида \textit{(L-BFGS-B)}.}
\end{figure}

\subsubsection{Вектор невязки}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=\textwidth,keepaspectratio}
    \includegraphics{pics/residuals_elliptic.pdf}
  \end{adjustbox}
  \caption{Невязки исходных объектов для эллиптического параболоида.}
\end{figure}

\subsubsection{Графики модели}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=.9\textwidth,keepaspectratio}
    \includegraphics{pics/model_plot_elliptic.pdf}
  \end{adjustbox}
  \caption{Модельная поверхность эллиптического параболоида после обучения.}
\end{figure}

\begin{figure}[H]
  \centering
  \begin{adjustbox}{max width=.8\textwidth,keepaspectratio}
    \includegraphics{pics/contour_lines_elliptic.pdf}
  \end{adjustbox}
  \caption{Линии уровня эллиптического параболоида после обучения.}
\end{figure}

\subsubsection{Аналитический вид}

В результате обучения модель имеет следующий вид:
\[
  z(x,y) = {{ A_ELLIPTIC }}(x - {{ X0_ELLIPTIC }})^2 + {{ B_ELLIPTIC }}(y - {{ Y0_ELLIPTIC }})^2 + {{ C_ELLIPTIC }}(x - {{ X0_ELLIPTIC }})(y - {{ Y0_ELLIPTIC }}) + {{ Z0_ELLIPTIC }}
\]